[submodule "polymetis/src/clients/franka_panda_client/third_party/libfranka"]
	path = polymetis/src/clients/franka_panda_client/third_party/libfranka
	url = https://github.com/frankaemika/libfranka
[submodule "polymetis/polymetis/python/polymetis/robot_drivers/psyonic_gripper/ability-hand-api"]
	path = polymetis/polymetis/python/polymetis/robot_drivers/psyonic_gripper/ability-hand-api
	url = git@github.com:1heart/ability-hand-api.git
